In [2]:
import yfinance as yf
import pandas as pd
#define target stock
target = 'XIC.TO'
#define start date YYYY/MM/DD
startdate = '2019-01-01'
#save to filepath
filepath = "R:/XIC.TO Data2019"

In [ ]:
# as of version 2.55.0 the data is automatically adjusted, it is possible to get the unadjusted data with 'auto_adjust=False' as an arugment in download.
df = yf.download(target, start= startdate)

[*********************100%***********************]  1 of 1 completed

In [ ]:
#view data as downloaded 
df

Price           Close       High        Low       Open  Volume
Ticker         XIC.TO     XIC.TO     XIC.TO     XIC.TO  XIC.TO
Date
2019-01-02  19.273159  19.340785  18.977299  19.078738  262838
2019-01-03  19.078735  19.230891  19.019563  19.230891  164632
2019-01-04  19.391500  19.399954  19.230890  19.239344  658625
2019-01-07  19.484488  19.501392  19.323878  19.492939  469121
2019-01-08  19.628195  19.678913  19.535209  19.619740  133837
...               ...        ...        ...        ...     ...
2025-03-19  40.139999  40.240002  39.720001  39.720001  267600
2025-03-20  40.139999  40.330002  39.910000  39.910000  307500
2025-03-21  40.000000  40.049999  39.740002  39.950001  239900
2025-03-24  40.540001  40.660000  40.259998  40.259998  238600
2025-03-25  40.610001  40.790001  40.590000  40.700001  292391

[1564 rows x 5 columns]

In [ ]:
#remove multi index column / flatten out
df = df.xs(target, axis=1, level = 'Ticker')

Price           Close       High        Low       Open  Volume
Date
2019-01-02  19.273159  19.340785  18.977299  19.078738  262838
2019-01-03  19.078735  19.230891  19.019563  19.230891  164632
2019-01-04  19.391500  19.399954  19.230890  19.239344  658625
2019-01-07  19.484488  19.501392  19.323878  19.492939  469121
2019-01-08  19.628195  19.678913  19.535209  19.619740  133837
...               ...        ...        ...        ...     ...
2025-03-19  40.139999  40.240002  39.720001  39.720001  267600
2025-03-20  40.139999  40.330002  39.910000  39.910000  307500
2025-03-21  40.000000  40.049999  39.740002  39.950001  239900
2025-03-24  40.540001  40.660000  40.259998  40.259998  238600
2025-03-25  40.610001  40.790001  40.590000  40.700001  292391

[1564 rows x 5 columns]

In [26]:
#export data to .csv
df.to_csv(filepath + ".csv")