In [ ]:
# Developed by Ben Cooney www.linkedin.com/in/cooneyben
# Derived from https://www.youtube.com/watch?v=037_883wHGo&t=0s

import yfinance as yf
import pandas as pd
#define target stock
target = 'ADW-A.TO'
#define start date YYYY/MM/DD
startdate = '2019-01-01'
#save to filepath
filepath = "R:/" + target + startdate

In [ ]:
# as of version 2.55.0 the data is automatically adjusted, it is possible to get the unadjusted data with 'auto_adjust=False' as an arugment in download.
df = yf.download(target, start= startdate)

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

In [3]:
#view data as downloaded 
df

Price           Close       High        Low       Open  Volume
Ticker         XIC.TO     XIC.TO     XIC.TO     XIC.TO  XIC.TO
Date
2019-01-02  19.274620  19.342251  18.978737  19.080184  262838
2019-01-03  19.080187  19.232354  19.021010  19.232354  164632
2019-01-04  19.392975  19.401429  19.232353  19.240807  658625
2019-01-07  19.485968  19.502874  19.325345  19.494420  469121
2019-01-08  19.629681  19.680402  19.536688  19.621225  133837
...               ...        ...        ...        ...     ...
2025-03-20  40.139999  40.330002  39.910000  39.910000  307500
2025-03-21  40.000000  40.049999  39.740002  39.950001  239900
2025-03-24  40.540001  40.660000  40.259998  40.259998  238600
2025-03-25  40.610001  40.790001  40.590000  40.700001  292400
2025-03-26  40.070000  40.500000  39.980000  40.389999  439963

[1565 rows x 5 columns]

In [ ]:
#remove multi index column / flatten out
df = df.xs(target, axis=1, level = 'Ticker')

In [6]:
df

Price           Close       High        Low       Open  Volume
Date
2019-01-02  19.274620  19.342251  18.978737  19.080184  262838
2019-01-03  19.080187  19.232354  19.021010  19.232354  164632
2019-01-04  19.392975  19.401429  19.232353  19.240807  658625
2019-01-07  19.485968  19.502874  19.325345  19.494420  469121
2019-01-08  19.629681  19.680402  19.536688  19.621225  133837
...               ...        ...        ...        ...     ...
2025-03-20  40.139999  40.330002  39.910000  39.910000  307500
2025-03-21  40.000000  40.049999  39.740002  39.950001  239900
2025-03-24  40.540001  40.660000  40.259998  40.259998  238600
2025-03-25  40.610001  40.790001  40.590000  40.700001  292400
2025-03-26  40.070000  40.500000  39.980000  40.389999  439963

[1565 rows x 5 columns]

In [ ]:
#export data to .csv
df.to_excel(filepath + '.xlsx')